<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler,Autofac.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <autofac>
    <components>
      <!--
      <component type="BookManage.LiteDBRepository.BookRepository, BookManage.LiteDBRepository"
                 service="BookManage.IRepository.IBookRepository,BookManage.IRepository" />
       -->
      <component type="BookManage.SimpleDBRepository.BookRepository, BookManage.SimpleDBRepository"
                 service="BookManage.IRepository.IBookRepository,BookManage.IRepository" />
    </components>
  </autofac>

  <connectionStrings>
    <add name="LiteDb" connectionString="filename= C:\Users\User\source\repos\BbiHH\CShapeProject\BookManageDemo\BookManage.UI\book.db" />
    <add name="SimpleDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\BbiHH\CShapeProject\BookManageDemo\BookManage.UI\Database1.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>